<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Clinic Finder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>877CF63520671AAD00F2B1F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>877CF64B20671AAE00F2B1F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>877CF65620671AAE00F2B1F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
